.login-container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}


.register{
    text-align: center;
}

.google-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.google-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 150px;
}

.google-btn img {
    display: block;
}