<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:remove="all">Khôi phục mật khẩu tài khoản đăng nhập</title>
</head>
<body>
<p>Xin chào <b th:text="@{${fullName}}"></b></p>

<p>Anh/chị đã yêu cầu lấy lại mật khẩu đăng nhập </p>

<p style="margin-top: 1rem;">Anh/chị vui lòng truy cập vào liên kết dưới đây để thực hiện thay đổi mật khẩu của anh chị theo hướng dẫn:</p>
<a th:href="@{${verifyTokenUrl}}">Link đổi mật khẩu</a>

<p>Trân trọng.</p>
<hr style="margin-top: 1rem;"/>
<p>Hệ thống quản lý đối tượng được hỗ trợ sử dụng dịch vụ của Hà đẹp trai siêu cấp Vipro</p>
</body>
</html>